<div class="banner">
  <h1>Ma Watchlist</h1>
  <span>Photo by <a href="https://unsplash.com/@dmjdenise?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Denise Jans</a> on <a href="https://unsplash.com/s/photos/movie?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </span>
</div>
<div class="main-container">
  <h2>Mes listes de films</h2>
  <div class="lists-container">
    <% if @lists != nil %>
      <% @lists.each do |list| %>
        <div class="card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @article.photo.key, height: 300, crop: :fill %>')">
          <h4><%= link_to list.name, list_path(list), style: "text-decoration: none; color: black" %></h4>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= simple_form_for(@list, html: { class: "form-container"}) do |f| %>
  <%= f.input :name, label: false, placeholder: 'Nouvelle liste' %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Enregistrer", class: "btn btn-primary" %>
<% end %>
</div>
